   
    * {
            box-sizing: border-box;
        }

        body {
            font-family: serif;
            margin: 0;
            background-color: #ddd;
                font-size: 14px;
        }
        .header{
            padding: 0 20px;
        }
        .topTitle{
            font-size: medium;
        }
   .tileBox {
            width: 25%;
            color: #000;
            flex-wrap: wrap;
            text-decoration: none;
            padding-bottom: 15px;

        }
      .innerBox {
            margin: 10px;
            background-color: #fff;
            padding: 14px 20px;
            text-align: center;
            border-radius: 5px;
            height: 100%;
        }

        .innerBox p {
            text-align: left;
        }
        .titleColor{
           color:#5B5E92
        }
        .valColor{
           color:rgb(161, 165, 216)
        }
        ul li{
               text-align: left;
        }
        

       
                 .filterRow {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 15px;
        }

        .filterCol {
            width: 50%;
            text-align: center;
        }

        .filterCol button {
            width: 70%;
            background-color: #CCE99B;
            border-radius: 5px;
            height: 25px;
            border: 1px solid #CCE99B;
                margin: 7px;
        }
     
        .yearClass:active,.yearClass:target , .yearClass:focus, .yearClass:hover {
             background-color: #91B92C;
            color: black;
        }
        .active{
             background-color: #91B92C !important;
            color: black;
        }
        .filterBox .title {
            position: relative;
            margin-bottom: 15px;
            text-align: center;
        }

        .filterBox .title::after {
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            left: 25%;
            border-top: 2px solid #ddd;
            margin-top: 10px
        }
          .filterBox {
            margin-top: 10px;
            padding: 10px;
            background-color: white;
            border-radius: 5px;
        }
       

        .mainInner {
            display: flex;
            flex: 100%;
            flex-wrap: wrap;

        }

        .mainInner img {
            width: 100%;
        }

      
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .side {
            flex: 25%;
            /* background-color: #f1f1f1; */
            padding: 0 20px;
            
        }

     
        .main {
            flex: 75%;
            /* background-color: white; */
            padding: 0 20px;
            width: 100%;
        }

       .noData{
            padding: 20px;
            width: 100%;
            text-align: center;
            margin-top: 16%;
            color: black;
            font-size: 20px;
            font-weight: bold;
       }

        /* Footer */
        .footer {
            /* position: fixed; */
            height: 50px;
            /* bottom: 0px; */
            left: 0px;
            right: 0px;
            margin-bottom: 0;
            margin-bottom: 11px;
            padding-top: 15px;
            text-align: center;

        }


       

        .App {
            font-size: 1.5em;
            }
            .Footer {
            text-align: center;
            }
            .TopBar{
            margin: 0 20px;
            
            }
            .TopBar h2{
            margin:0px;
            }


 /* Mobile View :1 tiles*/
        @media (max-width: 700px) {

            .row,
            .mainInner,.tileBox {
                flex-direction: column;
            }

           
            .tileBox img {
                width: 50%;
            }
            .tileBox {
                 width: 100%;
            }
        }
         @media only screen and (min-width : 701px) and (max-width : 1023px) {

            /* Tablet view: 2 tiles */
            .tileBox {
                 width: 50%;
            }
        }